.container {
  max-width: 500px; /* Adjust the max-width as needed */
  margin: auto; /* Center the container horizontally */
  padding: 20px; /* Add padding for spacing */
}

.form-group {
  margin-bottom: 20px; /* Add spacing between form groups */
}

label {
  font-weight: bold; /* Make labels bold */
}

.form-control {
  width: 100%; /* Make the input field full-width */
  padding: 10px; /* Add padding inside the input field */
  font-size: 16px; /* Set font size */
  border-radius: 5px; /* Add border radius */
  border: 1px solid #ced4da; /* Add border */
}


.form-control:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: 0; /* Remove the default outline */
}


.container {
  max-width: 500px; /* Adjust as needed */
  margin: auto; 
  padding: 20px; 
}

.data-item {
  margin-bottom: 10px; 
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px; 
  background-color: #f8f9fa; /* Background color */
}
/* Style for the response items */
.response-item {
  margin-bottom: 10px; 
  padding: 5px 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; 
}
/* Hover effect */
.response-item:hover {
  background-color: #007bff; 
  color: #fff;
  cursor: pointer; 
}


